  <form id="form">
    <div class="form-group">
      <h4>
        Looking for a local legislator? We can help!
      </h4>
      <label for="zip">Enter your zip code:</label>
      {{input class="form-control" value=zip id="zip" placeholder="ex: 97217"}}
    </div>
    <button class="btn" {{action 'zipLookup'}}>Submit</button>
  </form>
