<h1>Legislator Lookup</h1>

<form>
  <div class="form-group">
    <label for="zip">Zip Code:</label>
    {{input class="form-control" value=zip id="zip" placeholder="ex: 97217"}}
  </div>
  <button class="btn btn-primary" {{action 'zipLookup'}}>Submit</button>
</form>
