
<div class="container">
  <header id="header">
    <h1>Enlightened</h1>
    {{#link-to 'index'}}<img id="logo" src="/assets/images/ballot-box.svg" alt="Enlightened Citizenry">{{/link-to}}
    <h1>Citizenry</h1>
    <h5>{{#link-to 'committee' class="nav-links"}}Committees{{/link-to}}<span> | </span>{{#link-to 'bill' class="nav-links"}}Current Bills{{/link-to}}</h5>
  </header>

  <div class="well">
    {{outlet}}
  </div>

  <footer id="footer">
    <h6>&copy; 2016 Enlightened Citizenry</h6>
  </footer>
</div>
